<div>
  <h2>Lista de Productos</h2>

  <table class="table m-0">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.stock }}</td>
        <td>S/ {{ producto.precio.toFixed(2) }}</td>
        <td>{{ producto.descuento }}%</td>
        <td>{{ producto.categoria.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>
