<div class="d-flex">
  <!-- Menú Lateral -->
  <nav class="sidebar flex-shrink-0 p-3">
    <ul>
      <li><h1 class="fs-4 text-center"><i class="fas fa-user"></i> {{usuario?.username}}</h1></li>
      <li><a routerLink="inicio" routerLinkActive="active">Inicio</a></li>
      <li>
        <a routerLink="productos/tabla" routerLinkActive="active">Productos</a>
      </li>
      <li><a routerLink="usuarios" routerLinkActive="active">Usuarios</a></li>
    </ul>
    <button (click)="onLogout()">Cerrar sesión</button>
  </nav>
  <!-- Contenido Principal -->

  <section class="content">
    <router-outlet></router-outlet>
  </section>

</div>
