/* Estilo para el menú lateral */
.sidebar {
  height: 100vh;
  background-color: var(--bs-primary);
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 200px;
}

/* Estilo para los enlaces del menú */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Permite que los enlaces ocupen el espacio disponible */
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--bs-light); /* Color del texto */
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: var(--bs-secondary); /* Fondo al pasar el mouse o activo */
}

/* Botón de cerrar sesión */
.sidebar button {
  background-color: var(--bs-danger);
  color: var(--bs-light);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: auto; /* Empuja el botón hacia el pie del menú */
}

.sidebar button:hover {
  background-color: var(--bs-dark);
}

/* Estilo para el contenedor principal */


/* Estilo para la sección de contenido */
.content {
  background-color: var(--bs-light);
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  width: calc(100% - 200px); /* Resta el ancho del menú lateral */
  /*Alinear a la izquierda*/
  padding-top: 15px;
  padding-left: 60px;
}
